<h1>My Tasks</h1>
<ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item">
    <% if task.completed == true %>
    <i class="fa-regular fa-square-check p-1"></i><%= link_to task.title, task_path(task) %></li>
    <% else %>
    <i class="fa-regular fa-square p-1"></i><%= link_to task.title, task_path(task) %></li>
  <% end %>
  <% end %>
</ul>
